@mixin margin-mixin($margin-size-pixels) {
    margin-left: #{$margin-size-pixels};
    margin-right: #{$margin-size-pixels};
}

body {
    margin-left: 10px;
    margin-right: 10px;
}

div {
    margin-left: 15px;
    margin-right: 15px;
}
